body {
  font-family: "inter", sans-serif;
  line-height: 1.6;
  color: #18191f;
  background-color: #ffffff;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 22px;
  right: 105px;
  bottom: 22px;
  left: 105px;
  gap: 145px;
  background-color: #f5f7faff;
}

.menu ul {
  align-items: center;
  list-style: none;
  gap: 20px;
  width: 588px;
  height: 24px;
}

.menu a {
  text-decoration: none;
  color: #18191f;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
}

.menu a:hover {
  color: #4caf50;
}

.actions button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.actions .login {
  background: none;
  color: #4caf4f;
  margin-right: 10px;
}

.actions .signup {
  background-color: #4caf50;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
  background-color: #f5f7fa;
  width: Fill (1, 441px) px;
  height: Hug (599px) px;
  padding: 96px 144px 96px 144px;
  gap: 104px;
  opacity: 0px;
}

.hero h1 {
  font-size: 3rem;
  color: #18191f;
  font-weight: bold;
}

.hero span {
  color: #4caf50;
}

.hero p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.hero .button {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.hero img {
  max-width: 50%;
  height: auto;
}

.HERO2 {
  text-align: center;
}

.body1 {
  text-align: left;
  margin-bottom: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.body1 h2 {
  font-size: 2rem;
  color: #18191f;
  margin-bottom: 20px;
}

.body1 p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.body1 img {
  max-width: 70%;
  margin-top: 20px;
  border-radius: 8px;
}

.button {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}

.body2 {
  text-align: left;
  margin-bottom: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text {
  width: fixed (1.2px);
  height: hug (364px);
  align-items: center;

  text-align: center;
  padding-top: 2%;
  background-color: #f5f7fa;
  width: 887px;
  height: 152px;
  font-weight: 600;
  size: 64px;
  color: #263238;
}

.text .button {
  background-color: #4caf4f;
  color: #ffffff;
}

.Copyright {
  background-color: #263238;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  width: Fill (1, 440px) px;
  height: Hug (148px) px;
  padding: 64px 165px 64px 165px;
  gap: 125px;
  opacity: 0px;
}
