body {
  font-family: "inter", sans-serif;
  line-height: 1.6;
  color: #4d4d4d;
  background-color: #ffffff;
  margin: 0;
  width: 1, 441px;
  height: 599px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 20px 10%;
  background-color: #f5f7fa;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 14px;
}

.menu a:hover {
  color: #4caf50;
}

.actions button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.actions .login {
  background: none;
  color: #4caf4f;
  margin-right: 10px;
}

.actions .signup {
  background-color: #4caf50;
  color: #fff;
}

main {
  padding: 40px 10%;
}

.hero {
  background-color: #f5f7fa;
  margin-bottom: 60px;
  width: 1, 441px;
  height: 599px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  color: #4d4d4d;
  font-weight: bold;

  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}

.hero span {
  color: #4caf50;
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}

.hero p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.hero .button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.picture {
  width: 391px;
  height: 407px;
  gap: 0px;
  opacity: 0px;
  align-self: right;
}
.HERO2 {
  width: Hug (1, 440px) px;
  height: Hug (416px) px;
  gap: 16px;
  opacity: 0px;
}

.HERO2 h2 {
  align-items: center;
  text-align: center;
  font-weight: 600;
  size: 36px;
}

.HERO2 p {
  text-align: center;
  font-weight: 400;
  size: 16px;
}

.HERO2 img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body1 {
  background-color: #ffffff;
  width: hug (1, 440px) px;
  height: Hug (443px) px;
  gap: 48px;
  opacity: 0px;
  display: flex;
  align-items: center;
}

.body1 h2 {
  width: 601px;
  height: 88px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.body1 p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-front;
  text-decoration-skip-ink: none;
}

.body1 .button {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.body2 {
  width: hug (1, 440px) px;
  height: Hug (443px) px;
  gap: 48px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.body2 h2 {
  width: 601px;
  height: 88px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.body2 .button {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.text {
  width: Fixed (1, 200px) px;
  height: Hug (364px) px;
  padding: 64px 64px;
  gap: 32px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  padding-top: 2%;
  background-color: #f5f7fa;
}

.text .button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.Copyright p {
  background-color: #263238;
  color: #ffffff;
  font-size: 14px;
  width: Fill (1, 440px) px;
  height: Hug (148px) px;
  padding: 64px 165px 64px 165px;
  gap: 125px;
  text-align: center;
}
