body {
  font-family: "inter", sans-serif;
  width: 1440px;
  height: 2691px;
  top: -2354px;
  left: 366px;
  color: #18191f;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #f5f7fa;
}

.logo img {
  background-color: #f5f7fa;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
  background-color: #f5f7fa;
}

.menu a {
  text-decoration: none;
  color: #18191f;
  font-weight: bold;
  font-size: 14px;
  background-color: #f5f7fa;
}

.menu a:hover {
  color: #4caf50;
}

.actions button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.actions .login {
  background: none;
  color: #4caf4f;
  margin-right: 10px;
}

.actions .signup {
  background-color: #4caf50;
  color: #fff;
}

main {
  width: 1, 441px;
  height: 2, 011.4px;
  top: 84px;
  gap: 42px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  width: 1, 441px;
  height: 1, 055px;
  gap: 40px;
}

.hero h1 {
  font-size: 3rem;
  color: #333;
  font-weight: bold;
}

.hero span {
  color: #4caf50;
}

.hero p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.hero .button {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.hero img {
  max-width: 50%;
  height: auto;
}

.section {
  text-align: center;
  margin-bottom: 60px;
  background-color: #f5f7fa;
}

.section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.section p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.section img {
  max-width: 70%;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}

.demo-section {
  width: fixed (1.2px);
  height: hug (364px);
  display: table-cell;
  text-align: center;
  padding-top: 2%;
  background-color: #f5f7fa;
  width: 887px;
  height: 152px;
  font-weight: 600;
  size: 64px;
  color: #263238;
}

.demo-section .button {
  background-color: #4caf4f;
  color: #ffffff;
}

footer {
  background-color: #263238;
  color: #ffffff;
  font-size: 14px;
  align-items: center;
  width: 1, 440px;
  height: 148px;
  padding: 64px 165px 64px 165px;
  gap: 125px;
}
